.button{
    background: #835afd;
    border-radius: 8px;
    color: #FFF;
    font-weight: 500;
    height: 50px;
    padding: 0 32px;

    align-items: center;
    display: flex;
    justify-content: center;

    border: 0;
    cursor: pointer;

    transition: filter 0.2s;

    img{
        margin-left: 8px;
    }

    &:not(:disabled):hover{
        filter: brightness(0.9);
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}
