#page-room{
    header{
        border-bottom: 1px solid #e2e2e2;
        padding: 24px;

        .content{
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1120px;

            >img{
                max-height: 45px;
            }
        }
    }

    main{
        margin: 0 auto;
        max-width: 800px;

        .room-title{
            align-items: center;
            display: flex;
            margin: 32px 8 24px;

            h1{
                color: #29292e;
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
            }

            span{
                background: #e559f9;
                border-radius: 9999px;
                color: #FFF;
                font-size: 14px;
                font-weight: 14px;
                margin-left: 16px;
                padding: 8px 16px;
            }
        }

        form{
            textarea{
                background: #fefefe;
                border: 0;
                border-radius: 8px;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                min-height: 130px;
                padding: 16px;
                resize: vertical;
                width: 100%;
            }
        }
    }
}