.room-code{
    border-radius: 40px;
    height: 40px;
    overflow: hidden;

    background: #FFF;
    border: 1px solid #835afd;
    cursor: pointer;

    display: flex;

    div{
        align-items: center;
        background: #835afd;
        display: flex;
        justify-content: center;
        padding: 0 12px;
    }

    span{
        align-self: center;
        display: block;
        flex: 1;
        font-size: 14px;
        font-weight: 500;
        padding: 0 16px 0 12px;
        width: 240px;
    }
}